html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  font-size: 1.125rem;
  display: inline-block;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border: 3px;
  text-decoration: none;
  text-align: center;
}

.btn-subtle {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  margin: 0;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  text-align: center;
}

.btn-ghost {
  display: inline-block;
  border-width: 3px;
  padding: 8px;
  color: #333;
  border: 3px solid #333;
  border-radius: 8px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.btn-warning {
  display: inline-block;
  background-color: #f33;
  color: #fff;
  margin: 0;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  text-align: center;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-warning:hover {
    background-color: #933;
}

.btn:hover {
    background-color: #000;
}

.btn-subtle:hover {
    background-color: #333;
}

.btn-ghost:hover {
    background-color: #333;
    color: #fff;
}
